/* js css */

#form-answers,
#frame1,
#frame2,
#frame3 {
    display: none;
}

#form-answers.show {
    display: block;
}

#frame1.show,
#frame2.show,
#frame3.show {
    display: flex;
}

.inches,
.cm {
    display: none;
}

.inches.show,
.cm.show {
    display: inline-block;
}


/* styling */


/* @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;500;600&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Halant:wght@500;600&family=Nunito+Sans:wght@300;400;700&display=swap'); */

html {
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Yeseva One', cursive;
    margin: 10px
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.padding-top {
    padding-top: 1em;
}

.img-responsive {
    max-height: 100%;
    max-width: 100%;
}

.title-container {
    width: 70vw;
    margin: auto;
    background: #333;
    padding: 1em;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

.subhead {
    font-size: 1.25em;
    width: 70%;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

h1,
.subhead {
    color: #f0e9e1;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.column-1,
.column-2 {
    padding: 1em;
}

.column-1 {
    align-self: center;
}


/* .column-2 {
    flex-grow: 1;
} */

.frame-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.frame {
    background-color: #f6f6f6;
    flex-basis: 28%;
    margin: 1em;
    height: 20vh;
    border: solid 3vmin #161616;
    border-bottom-color: #000;
    border-left-color: #353535;
    border-radius: 2px;
    border-right-color: #353535;
    border-top-color: #6a6a6a;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    padding: 3vmin;
    position: relative;
    align-items: center;
}

@media (min-width:1200px) {
    .frame {
        height: 50vh;
    }
}

.frame::after {
    content: " ";
    background: #000;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 20%;
}

.frame::before {
    content: " ";
    background: #000;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
}

.frame-naildimensions {
    position: absolute;
    top: 7%;
    left: 52%;
    background: #ffffffb8;
    z-index: 10;
    border-radius: 3px;
}

@media (max-width: 758px) {
    .frame-naildimensions {
        top: 30%;
        left: 5%;
    }
}

.column-2 p {
    margin: 5px;
}

#wall-length::before {
    content: " ";
    background: #000;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}